/*
 * Copyright (c) 2023 Andrei Gaevskii
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick_tap_ms = <200>; };

&mt { quick_tap_ms = <200>; };

/ {
    combos {
        compatible = "zmk,combos";

        home {
            bindings = <&kp HOME>;
            key-positions = <15 16 14>;
        };

        end {
            bindings = <&kp END>;
            key-positions = <19 20 21>;
        };

        tab_r {
            bindings = <&kp TAB>;
            key-positions = <20 21>;
        };

        tab_l {
            bindings = <&kp TAB>;
            key-positions = <15 14>;
        };

        volume_up {
            bindings = <&kp C_VOLUME_UP>;
            key-positions = <11 10>;
        };

        volume_down {
            bindings = <&kp C_VOLUME_DOWN>;
            key-positions = <34 35>;
        };

        home2 {
            bindings = <&kp HOME>;
            key-positions = <15 16>;
        };

        end2 {
            bindings = <&kp END>;
            key-positions = <19 20 21>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
  &kp ESCAPE        &kp Q  &kp W      &kp E         &kp R        &kp T                    &kp Y            &kp U             &kp I      &kp O         &kp P     &kp LBKT
  &kp LEFT_SHIFT    &kp A  &kp S      &kp D         &kp F        &kp G                    &kp H            &kp J             &kp K      &kp L         &kp SEMI  &kp SQT
  &kp LEFT_CONTROL  &kp Z  &kp X      &kp C         &kp V        &kp B                    &kp N            &kp M             &kp COMMA  &kp DOT       &kp FSLH  &kp BACKSLASH
                           &kp GRAVE  &kp LEFT_WIN  &lt 1 SPACE  &mt LEFT_SHIFT RETURN    &lt 2 BACKSPACE  &mt LCTRL DELETE  &kp TAB    &kp LEFT_ALT
            >;
        };

        lower_layer {
            bindings = <
  &kp PRINTSCREEN     &none           &kp COMMA       &kp ASTERISK  &kp KP_PLUS           &kp CAPSLOCK     &kp BACKSPACE  &kp NUMBER_7  &kp NUMBER_8    &kp NUMBER_9  &none  &kp RIGHT_BRACKET
  &kp KP_NUMLOCK      &kp LEFT_SHIFT  &kp UNDERSCORE  &kp PERIOD    &kp LEFT_PARENTHESIS  &kp EQUAL        &none          &kp NUMBER_4  &kp NUMBER_5    &kp NUMBER_6  &none  &none
  &kp K_CONTEXT_MENU  &none           &kp AT_SIGN     &kp HASH      &kp MINUS             &kp AMPERSAND    &kp NUMBER_0   &kp NUMBER_1  &kp NUMBER_2    &kp NUMBER_3  &none  &none
                                      &to 3           &none         &none                 &none            &kp LCTRL      &kp LWIN      &kp LEFT_SHIFT  &none
            >;
        };

        raise_layer {
            bindings = <
  &none             &none  &none      &none         &none      &none             &kp PG_UP      &none     &none      &none     &kp F1   &kp F2
  &none             &none  &kp LSHFT  &kp LCTRL     &kp LWIN   &kp LALT          &kp UP_ARROW   &kp LEFT  &kp RIGHT  &kp DOWN  &none    &kp F5
  &kp LEFT_CONTROL  &none  &none      &none         &none      &none             &kp PAGE_DOWN  &none     &none      &none     &kp F12  &kp F11
                           &none      &kp LEFT_WIN  &kp SPACE  &kp LEFT_SHIFT    &none          &none     &none      &none
            >;
        };

        adjust_layer {
            bindings = <
  &none       &none         &none         &none         &none         &bootloader     &bootloader  &none  &none  &none  &none  &none
  &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &none        &none  &none  &none  &none  &none
  &none       &none         &none         &none         &none         &none           &none        &none  &none  &none  &none  &none
                            &to 0         &none         &none         &none           &none        &none  &none  &none
            >;
        };
    };
};
